/* Projects block. */
.projects__grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
}

.projects__header {
  display: flex;
  flex-direction: column;
}

.projects__title {
  display: flex;
  margin-bottom: 0.5rem;
  justify-content: center;
}

.projects__tags {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid rgb(var(--text-color) / 10%);
}

.projects__description {
  margin: 0 1.5rem;
}

.projects__links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

@media screen and (width >= 32em) {
  .projects__grid {
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  }
}
