/* Skills block. */
.skills__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1rem;
  justify-content: center;
}

.skills__card-head {
  position: relative;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 0.5rem;
  gap: 0.5rem;
}

.skills__card-head::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgb(var(--text-color) / 10%);
  bottom: -0.25rem;
  transform: translateY(-50%);
  left: 0;
}

.skills__card-head i {
  color: rgb(var(--text-color) / 50%);
}

.skills__list {
  list-style: none;
}

.skills__list li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  transition: transform 0.2s ease;
}

@media (hover: hover) and (pointer: fine) {
  .skills__list li:hover {
    transform: scale(1.1);
  }
}
