a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Poppins', sans-serif;
}

/* Nav Bar */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  height: 40px;
}

/* Dropdown Menu */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  display: none;  /* Hide menu. */
  position: absolute;
  z-index: 1;
}

.dropdown:hover .dropdown-menu {
  display: block;  /* Show menu when hovered. */
}